*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100vw;
    border : 2px solid black;
    display: flex;
    justify-content:center;
    align-items:center;
}

.cardContainer{
    /* display:flex;
    flex-direction: column; */
    border: 2px solid red;
    height: 500px;
    width: 400px;
    overflow: scroll;
    
}
.foodcard{
    border: 2px solid black;
    background-color: green;
    height: 40%;
    width: 100%;
    

}