* {
    margin: 0;
    padding: 0;
}

.complete {
    height: 100vh;
    margin-bottom: 0;
    display: flex;
}

.left-pane {
    width: 60%;
    height: 100%;
    margin-left: 40px;
    margin-top: 40px;
}

.left-pane .name-container .name {
    font-family: -apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.left-pane .name-container .subtext {
    margin-top: 7px;
    font-family: apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.left-pane .education-container {
    margin-top: 40px;
}

.left-pane .education-container .title {
    font-family: apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: #2079c7;
}

.left-pane .education-container .subtext {
    margin-top: 18px;
    font-family: apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}

.left-pane .education-container .subtext .subtext-title .name {
    font-size: 12px;
    font-weight: bold;
}

.left-pane .education-container .subtext .subtext-title .location {
    font-size: 12px;
}

.left-pane .education-container .subtext .date,
.left-pane .education-container .subtext .about {
    margin-top: 7px;
    color: rgb(122, 122, 122);
}

.left-pane .experience-container {
    margin-top: 30px;
}

.left-pane .experience-container h2 {
    font-family: apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: #2079c7;
}

.left-pane .experience-container .subtext {
    margin-top: 18px;
    font-family: apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}

.left-pane .experience-container .subtext .subtext-title .role {
    font-size: 12px;
    font-weight: bold;
}

.left-pane .experience-container .subtext .subtext-title .company {
    font-size: 12px;
    font-style: bold;
}

.left-pane .experience-container .subtext .date,
.left-pane .experience-container .subtext .about {
    margin-top: 7px;
    color: rgb(122, 122, 122);
}

.right-pane {
    width: 40%;
    margin-top: 40px;
    margin-left: 10px;
}

.right-pane .contact-container .email a {
    font-family: apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-decoration: none;
    color: inherit;
}

.right-pane .contact-container .number {
    font-size: 10px;
    font-family: apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right-pane .contact-container .linkedin a {
    font-size: 10px;
    font-family: apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #cf9d51;
}

.right-pane .skills-container {
    margin-top: 60px;
}

.right-pane .skills-container h2 {
    font-family: apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: #dbe272;
}

.right-pane .skills-container .content {
    margin-top: 10px;
    font-family: apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    color: rgb(109, 206, 109);
}

.right-pane .skills-container .content .topic {
    margin-top: 6px;
}

.right-pane .awards-container {
    margin-top: 30px;
}

.right-pane .awards-container h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 10px;
    color: #2079c7;
}

.right-pane .awards-container .content {
    margin-top: 15px;
}

.right-pane .awards-container .content .topic {
    margin-top: 10px;
    font-family: apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(122, 122, 122);
    font-size: 12px;
}

.right-pane .awards-container .content .topic .name {
    color: rgb(238, 15, 15);
    font-weight: bold;
}