*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction:column;
    height: 100vh;
    width: 100vw;

}
.classContainer{
    border: 2px solid black;
    width: 100%;
    height: 60%;
    background-color: #123;
    
    
}
.editcontainer{
    border: 2px solid black;
    

}
