*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    
}
.Main{
    
    display: flex;
    flex-direction:column;
    align-items:center; 
    margin: auto;
    
    
}
.CardComponent{
    height: 400px;
    width: 400px;
    margin: 2px auto;
    border: 2px solid black;
    
}
.imgcontainer{
    background-size: cover;
    background-repeat: no-repeat;
    height: 60%;
    width: 100%;
    background-image: url('image/react-meme1_.png');
}