* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outterBox {
    position: absolute;
    transform: translate(-50%, -50%);
    border: 2px solid sienna;
    top: 50%;
    left: 50%;
    height: 480px;
    width: 1280px;
}

.questionScreen {
    border: 2px solid red;
    width: 1278px;
    height: 100px;
    border-radius: 0px;
    background: #f8d8e6;
    box-shadow: 27px 27px 53px #e2c5d1, -27px -27px 53px #ffebfb;
}

.options {
    border: 2px solid green;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0px;
    background: #939a7e;
    box-shadow: 35px 35px 70px #868c73, -35px -35px 70px #a0a889;
    flex-wrap: wrap;
}

button {
    height: 50px;
    width: 100px;
    border-radius: 0px;
    background: #f8d8e6;
    box-shadow: 5px 5px 10px #e2c5d1, -5px -5px 10px #ffebfb;
}

.nextQuest {
    margin-left: 80%;
    top: 20px;
}