* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculatorContainer .calculatorBox .btnContainer {
    display: flex;
    justify-content: space-around;
}

.calculatorContainer {
    border: 3px solid seagreen;
    width: 500px;
    height: 500px;
    margin: auto;
}

.calculatorBox {
    border: 3px solid yellow;
    margin-top: 50%;
    padding-bottom: 20%;
}